main{
    background-image: url("../../assets/fondo.webp");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    width: 100%;
    -webkit-box-shadow: inset 0px 15px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 15px 15px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 15px 15px 0px rgba(0,0,0,0.75);
}